apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "electricity.fullname" . }}
  labels:
    app.kubernetes.io/name: electricity-price
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: electricity-price
  template:
    metadata:
      labels:
        app.kubernetes.io/name: electricity-price
    spec:
      containers:
        - name: app
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
          readinessProbe:
            httpGet:
              path: {{ .Values.probes.readiness.path }}
              port: http
          livenessProbe:
            httpGet:
              path: {{ .Values.probes.liveness.path }}
              port: http
          resources:
{{- toYaml .Values.resources | nindent 12 }}
