# Basvärden som kan delas mellan miljöer
image:
  repository: ghcr.io/igor88gomes/electricity-price  
  tag: dev-LOCAL                                     
  digest: ""                                         
  pullPolicy: IfNotPresent

replicaCount: 1

terminationGracePeriodSeconds: 40

service:
  type: ClusterIP
  name: http                 
  port: 8000                 
  targetPort: 8000   

probes:
  readiness:
    path: /readyz
    initialDelaySeconds: 40   
    periodSeconds: 10
    timeoutSeconds: 8
    failureThreshold: 5
  liveness:
    path: /healthz
    initialDelaySeconds: 60   
    periodSeconds: 10
    timeoutSeconds: 8
    failureThreshold: 5

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 300m        
    memory: 512Mi    

serviceMonitor:
  enabled: false               
  path: /metrics
  interval: 30s
  portName: http          
  scrapeTimeout: 10s
  additionalLabels:
    release: monitoring

ingress:
  enabled: false               
  className: ""                 
  annotations: {}
  hosts:
    - host: ""                
      paths:
        - path: /
          pathType: Prefix
  tls:
    enabled: false          
    secretName: ""       
    
networkPolicy:
  enabled: false

alerts:
  enabled: false         
  namespace: monitoring
  releaseLabel: monitoring
  targetNamespace: electricity-prod

  errorRateThreshold: 0.05
  latencyP95Seconds: 0.5
  cpuCoresThreshold: 0.2
  memoryThresholdMi: 400

  downFor: 2m
  errorFor: 5m
  latencyFor: 5m
  cpuFor: 10m
  memoryFor: 10m
  crashFor: 5m


