image:
  repository: ghcr.io/igor88gomes/electricity-price  
  tag: dev-LOCAL                                     
  digest: ""                                         
  pullPolicy: IfNotPresent

replicaCount: 1

terminationGracePeriodSeconds: 40

service:
  type: ClusterIP
  name: http                 
  port: 8000                 
  targetPort: 8000   

probes:
  startup:
    enabled: false
    path: /healthz
    initialDelaySeconds: 5
    periodSeconds: 5
    timeoutSeconds: 5
    failureThreshold: 24
  readiness:
    path: /readyz
    initialDelaySeconds: 40   
    periodSeconds: 10
    timeoutSeconds: 10
    failureThreshold: 5
  liveness:
    path: /healthz
    initialDelaySeconds: 60   
    periodSeconds: 10
    timeoutSeconds: 10
    failureThreshold: 5

resources:
  requests:
    cpu: 150m
    memory: 256Mi
  limits:
    cpu: 300m        
    memory: 512Mi    

ingress:
  enabled: false               
  className: ""                 
  annotations: {}
  hosts:
    - host: ""                
      paths:
        - path: /
          pathType: Prefix
  tls:
    enabled: false          
    secretName: ""       
    
networkPolicy:
  enabled: false

serviceMonitor:
  enabled: false               
  path: /metrics
  interval: 30s
  portName: http          
  scrapeTimeout: 10s
  additionalLabels:
    release: monitoring

alerts:
  enabled: false
  env: ""
  namespace: monitoring
  releaseLabel: monitoring
  targetNamespace: ""

  errorRateThreshold: 0.05
  latencyP95Seconds: 0.75
  cpuCoresThreshold: 0.25
  memoryThresholdMi: 450

  downFor: 2m
  errorFor: 5m
  latencyFor: 5m
  cpuFor: 10m
  memoryFor: 10m
  crashFor: 5m

  upstreamErrorRateThreshold: 0.15
  upstreamFor: 10m

