# Basvärden som kan delas mellan miljöer
image:
  repository: ghcr.io/igor88gomes/electricity-price  
  tag: dev-LOCAL                                     
  digest: ""                                         
  pullPolicy: IfNotPresent

replicaCount: 1

service:
  type: ClusterIP
  name: http                 
  port: 8000                 
  targetPort: 8000   

probes:
  readiness:
    path: /readyz
    initialDelaySeconds: 20   
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 5
  liveness:
    path: /healthz
    initialDelaySeconds: 30   
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 5

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 300m        
    memory: 512Mi    

serviceMonitor:
  enabled: false               
  path: /metrics
  interval: 30s
  portName: http          
  scrapeTimeout: 10s
  additionalLabels:
    release: monitoring

ingress:
  enabled: false               
  className: ""                 
  annotations: {}
  hosts:
    - host: ""                
      paths:
        - path: /
          pathType: Prefix
  tls:
    enabled: false          
    secretName: ""       
    
networkPolicy:
  enabled: false

